@font-face {
    font-family: "YekanBakhRegular";
    font-weight: normal;
    src: url("../fonts/woff/YekanBakhFaNum-Regular.woff") format("woff"), url("../fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 500;
    src: url("../fonts/woff/IRANSansXFaNum-medium.woff") format("woff"), url("../fonts/woff2/IRANSansXFaNum-medium.woff2") format("woff2");
}
@font-face {
    font-family: "iranyekan";
    font-weight: 500;
    src: url("../fonts/woff/IRANYekanXFaNum-Regular.woff") format("woff")
}
@font-face {
    font-family: "Pelak";
    font-weight: 500;
    src: url("../fonts/woff/PelakFA-Regular.woff") format("woff"), url("../fonts/woff2/PelakFA-Regular.woff2") format("woff2");
}


